/* Reset básico e estilos gerais */
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #add8e6;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    height: auto;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  table th {
    background-color: #f2f2f2;
  }
  
  table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .btn {
    display: flex;
  justify-content: center;  

    padding: 8px 16px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .departamentos {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
  }
  
  .departamentos:hover {
    text-decoration: underline;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  