/* Reset básico e estilos gerais */
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #add8e6;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .input-block {
    margin-bottom: 15px;
  }
  
  .input-block label {
    font-weight: bold;
  }
  
  .input-block input,
  .input-block select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .input-block-bool {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .input-block-bool label {
    margin-right: 10px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Azul */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3; /* Tom mais escuro de azul ao passar o mouse */
  }
  